<html>
	<head>
		<meta charset="utf-8" />
		
		<meta name="author" content="abolfazlsadeqi2001" />
		<meta name="description" content="authenitcation page for chat room" />
		<meta name="keywords" content="authentication,login,register,chat,room" />
		<meta name="view-port" content="width=device-width,initiale-scale=1.0" />
		
		<title>authentication</title>
	</head>
	<body>
		<div th:text="${error_message}"></div>
		<!-- login -->
		<form action="/login" method="POST" accept-charset="utf-8">
			<fieldset>
				<legend>login</legend>
					<input type="text" name="userName" placeholder="user name" />
					<br>
					<input type="password" name="password" placeholder="password" />
					<br>
					<input type="submit" value="login" />
			</fieldset>	
		</form>
		<!-- register -->
		<form action="/register" method="POST" accept-charset="utf-8">
			<fieldset>
				<legend>register</legend>
					<input type="text" name="userName" placeholder="user name" />
					<br>
					<input type="password" name="password" placeholder="password" />
					<br>
					<input type="submit" value="register" />
			</fieldset>	
		</form>
	</body>
</html>